/* конец сброса настроек */

/* -------------------flex---------------------- */

/* ------------------header---------------- */

/* hero */

/* benefits */

/* .benef-cotainer {
  display: flex;
  margin-top: 88px;
  justify-content: center;
  margin-bottom: 94px;
} */

/* doing */

/* team */

/* client */

/* footer */

/* -------------ПОРТФОЛИО--------------- */
/* section-work */

/* modal */

/* footer2 */
