/* .footer-container {
  margin-top: 20px;
  margin-bottom: 60px;
} */

.logofoot {
  /* padding-top: 60px; */
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
}

.address-list {
  /* margin-top: 20px;
  padding-bottom: 60px; */
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-logo {
  color: #fff;
}

.gorod {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  font-style: normal;
}

.footer-mail,
.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__second {
  margin-left: 70px;
  justify-content: center;
  align-items: center;
  /* padding-top: 12px; */
  /* margin-top: 72px; */
}

/* footer icon */
.footer-second-list {
  display: flex;
  justify-content: center;
}

.footer-second-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;

  & + & {
    margin-left: 10px;
  }
}

.footer-second-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color_accent);
  }
}

.footer-second-icon {
  fill: var(--coolor_title);
}

/* 
.footer-second-link:hover .footer-second-icon,
.footer-second-link:focus .footer-second-icon {
  fill: var(--coolor_title);
} */

// footer 2

.footer__third {
  margin-left: 93px;
  display: flex;
  /* align-items: center; */
}
.footer-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-input {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;

  width: 358px;
  height: 50px;

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-button {
  margin-left: 12px;
  margin-top: 36px;
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;

  color: #ffffff;
}

.fly-icon {
  margin-left: 10px;
}
