.section-work-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
  /* margin-top: 94px; */
}

.section-item:not(:last-child) {
  margin-right: 8px;
}

/* как спрятать заголовок */
/* .section-work-title {
  display: none;
} */
.section-work-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  /* вариант 2

position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;

*/
}

.section-work-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color_second);
  background-color: #f5f4fa;

  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
    background-color: var(--color_accent);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* class work-pic-list */

.work-pic-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color_second);
}

.work-pic-text {
  margin-top: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color_first);
}

.work-pic-item {
  position: relative;
  /* overflow: hidden; */
}
.wrap-work {
  position: relative;
  overflow: hidden;
}

.work-top-text {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--coolor_title);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 300ms;

  .work-pic-link:hover &,
  .work-pic-link:focus & {
    transform: translateY(0);
  }
}

/* изменение цвета ссылки 
при переходе на другую страницу */

.active-page {
  color: var(--color_accent);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color_second);
  }
}

/* ----------work-pic-list list---------- */

.work-pic-list {
  display: flex;
  flex-wrap: wrap;
}

.work-pic-item {
  background-color: var(--coolor_title);
  margin-bottom: 30px;
  margin-right: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  &:not(:nth-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.work-pic-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work {
  padding: 20px 24px;
  border-left: 1px solid var(--color_border);
  border-right: 1px solid var(--color_border);
  border-bottom: 1px solid var(--color_border);
}

.wrap {
  border-bottom: 1px solid #ececec;
}
